{
  "openapi": "3.1.0",
  "info": {
    "title": "Connect|API — REST API",
    "version": "1.1.3",
    "summary": "Referência interativa da API nativa do Connect|API.",
    "description": "![Connect|API REST](openapi/branding/docs/connect-api-rest-light.png)\n\nAPI nativa do Connect|API. Pode coexistir com a fachada Meta Compatible `/graph`.\n\n### Autenticação\nA API nativa usa o header `apikey`. Instâncias podem utilizar a chave global configurada ou o token próprio, conforme os guards da aplicação.\n\n### Providers\n- `WHATSAPP-BUSINESS`\n- `WHATSAPP-BAILEYS`\n- `WHATSAPP-ZAPO`\n- `GOOGLE-FIND-HUB`\n\n### Atualização automática\nEste documento é materializado por `docs/scripts/generate-openapi.mjs`. Alterações de rotas fazem o `Docs Integrity` falhar até o contrato ser regenerado e versionado."
  },
  "servers": [
    {
      "url": "https://d.api.connect.argws.com.br",
      "description": "Develop / homologação"
    },
    {
      "url": "http://localhost:38080",
      "description": "Docker local"
    }
  ],
  "tags": [
    {
      "name": "Google Find Hub",
      "description": "Contas Google, autenticação por CredentialProvider, dispositivos, localização, tracking e Traccar. Consulte também o documento dedicado Google Find Hub no seletor do Scalar."
    },
    {
      "name": "Core",
      "description": "Healthcheck, descoberta e utilidades globais."
    },
    {
      "name": "Instances",
      "description": "Criação, conexão, estado, logout, restart e exclusão."
    },
    {
      "name": "Messages",
      "description": "Texto, mídia, áudio, PTV, sticker, localização, contatos, reações, enquetes, listas e botões."
    },
    {
      "name": "Chats & Contacts",
      "description": "Chats, contatos, mensagens persistidas, perfil, presença e privacidade."
    },
    {
      "name": "Groups",
      "description": "Criação e administração de grupos."
    },
    {
      "name": "Business",
      "description": "Recursos business suportados pelo provider."
    },
    {
      "name": "Calls",
      "description": "Recursos de chamadas."
    },
    {
      "name": "Templates",
      "description": "Templates oficiais quando suportados."
    },
    {
      "name": "Local Templates",
      "description": "Modelos locais persistidos por instância ZAPO/Baileys; não são aprovação Meta."
    },
    {
      "name": "Settings",
      "description": "Configurações por instância."
    },
    {
      "name": "Proxy",
      "description": "Proxy por instância."
    },
    {
      "name": "Labels",
      "description": "Labels e associações."
    },
    {
      "name": "Webhooks",
      "description": "Configuração e recebimento de webhooks."
    },
    {
      "name": "WebSocket",
      "description": "Eventos via WebSocket."
    },
    {
      "name": "RabbitMQ",
      "description": "Eventos via RabbitMQ."
    },
    {
      "name": "NATS",
      "description": "NATS opcional."
    },
    {
      "name": "Pusher",
      "description": "Pusher opcional."
    },
    {
      "name": "SQS",
      "description": "AWS SQS opcional."
    },
    {
      "name": "Kafka",
      "description": "Kafka opcional."
    },
    {
      "name": "Storage",
      "description": "Mídia e armazenamento S3/MinIO."
    },
    {
      "name": "Chatbots",
      "description": "Integrações de chatbot/automação."
    },
    {
      "name": "Channels",
      "description": "Rotas específicas de canais/providers."
    },
    {
      "name": "Meta Compatible Admin",
      "description": "Identidade e configuração opcional de webhook da fachada Meta Compatible."
    },
    {
      "name": "Diagnostics",
      "description": "Diagnóstico técnico nativo, histórico e download privado sem conversas. Exige exclusivamente a chave global de administração."
    },
    {
      "name": "Manager",
      "description": "Configuração administrativa global do Manager, incluindo a allowlist persistida de origens de iframe."
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "Core"
        ],
        "summary": "Informações da API",
        "operationId": "get",
        "description": "Endpoint descoberto do código em `src/api/routes/index.router.ts`.",
        "security": [],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/index.router.ts"
      }
    },
    "/baileys/assertSessions/{instanceName}": {
      "post": {
        "tags": [
          "Channels"
        ],
        "summary": "Assert Sessions",
        "operationId": "post_baileys_assertsessions_instancename",
        "description": "Endpoint descoberto do código em `src/api/integrations/channel/whatsapp/baileys.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/integrations/channel/whatsapp/baileys.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/baileys/createParticipantNodes/{instanceName}": {
      "post": {
        "tags": [
          "Channels"
        ],
        "summary": "Create Participant Nodes",
        "operationId": "post_baileys_createparticipantnodes_instancename",
        "description": "Endpoint descoberto do código em `src/api/integrations/channel/whatsapp/baileys.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/integrations/channel/whatsapp/baileys.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/baileys/generateMessageTag/{instanceName}": {
      "post": {
        "tags": [
          "Channels"
        ],
        "summary": "Generate Message Tag",
        "operationId": "post_baileys_generatemessagetag_instancename",
        "description": "Endpoint descoberto do código em `src/api/integrations/channel/whatsapp/baileys.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/integrations/channel/whatsapp/baileys.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/baileys/getAuthState/{instanceName}": {
      "post": {
        "tags": [
          "Channels"
        ],
        "summary": "Get Auth State",
        "operationId": "post_baileys_getauthstate_instancename",
        "description": "Endpoint descoberto do código em `src/api/integrations/channel/whatsapp/baileys.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/integrations/channel/whatsapp/baileys.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/baileys/getUSyncDevices/{instanceName}": {
      "post": {
        "tags": [
          "Channels"
        ],
        "summary": "Get USync Devices",
        "operationId": "post_baileys_getusyncdevices_instancename",
        "description": "Endpoint descoberto do código em `src/api/integrations/channel/whatsapp/baileys.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/integrations/channel/whatsapp/baileys.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/baileys/onWhatsapp/{instanceName}": {
      "post": {
        "tags": [
          "Channels"
        ],
        "summary": "On Whatsapp",
        "operationId": "post_baileys_onwhatsapp_instancename",
        "description": "Endpoint descoberto do código em `src/api/integrations/channel/whatsapp/baileys.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/integrations/channel/whatsapp/baileys.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/baileys/profilePictureUrl/{instanceName}": {
      "post": {
        "tags": [
          "Channels"
        ],
        "summary": "Profile Picture Url",
        "operationId": "post_baileys_profilepictureurl_instancename",
        "description": "Endpoint descoberto do código em `src/api/integrations/channel/whatsapp/baileys.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/integrations/channel/whatsapp/baileys.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/baileys/sendNode/{instanceName}": {
      "post": {
        "tags": [
          "Channels"
        ],
        "summary": "Send Node",
        "operationId": "post_baileys_sendnode_instancename",
        "description": "Endpoint descoberto do código em `src/api/integrations/channel/whatsapp/baileys.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/integrations/channel/whatsapp/baileys.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/baileys/signalRepositoryDecryptMessage/{instanceName}": {
      "post": {
        "tags": [
          "Channels"
        ],
        "summary": "Signal Repository Decrypt Message",
        "operationId": "post_baileys_signalrepositorydecryptmessage_instancename",
        "description": "Endpoint descoberto do código em `src/api/integrations/channel/whatsapp/baileys.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/integrations/channel/whatsapp/baileys.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/business/getCatalog/{instanceName}": {
      "post": {
        "tags": [
          "Business"
        ],
        "summary": "Get Catalog",
        "operationId": "post_business_getcatalog_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/business.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/business.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/business/getCollections/{instanceName}": {
      "post": {
        "tags": [
          "Business"
        ],
        "summary": "Get Collections",
        "operationId": "post_business_getcollections_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/business.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/business.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/call/accept/{instanceName}": {
      "post": {
        "tags": [
          "Calls"
        ],
        "summary": "Accept",
        "operationId": "post_call_accept_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/call.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/call.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/call/capabilities/{instanceName}": {
      "get": {
        "tags": [
          "Calls"
        ],
        "summary": "Consultar capacidade efetiva de chamadas",
        "operationId": "get_call_capabilities_instancename",
        "description": "Retorna o suporte da instância em execução. Vídeo exige Connect Video Adapter habilitado; voz continua no plugin validado. O nome do provider sozinho não comprova suporte a vídeo.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Capacidades em execução, sem cache.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallCapabilities"
                }
              }
            }
          }
        },
        "x-source-file": "src/api/routes/call.router.ts"
      }
    },
    "/call/end/{instanceName}": {
      "post": {
        "tags": [
          "Calls"
        ],
        "summary": "End",
        "operationId": "post_call_end_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/call.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/call.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/call/list/{instanceName}": {
      "get": {
        "tags": [
          "Calls"
        ],
        "summary": "List",
        "operationId": "get_call_list_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/call.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/call.router.ts"
      }
    },
    "/call/mediaTicket/{instanceName}": {
      "post": {
        "tags": [
          "Calls"
        ],
        "summary": "Media Ticket",
        "operationId": "post_call_mediaticket_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/call.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/call.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/call/mute/{instanceName}": {
      "post": {
        "tags": [
          "Calls"
        ],
        "summary": "Mute",
        "operationId": "post_call_mute_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/call.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/call.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/call/offer/{instanceName}": {
      "post": {
        "tags": [
          "Calls"
        ],
        "summary": "Iniciar chamada de voz ou vídeo",
        "operationId": "post_call_offer_instancename",
        "description": "Preserva o contrato existente. isVideo ausente/false utiliza o plugin de voz homologado; true utiliza o adapter de vídeo quando a capability efetiva está disponível. A resposta confirma envio da oferta, não atendimento remoto. Acompanhe CALL/list para o estado.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/call.router.ts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "number"
                ],
                "properties": {
                  "number": {
                    "type": "string"
                  },
                  "isVideo": {
                    "type": "boolean",
                    "default": false
                  },
                  "callDuration": {
                    "type": "number",
                    "description": "Tempo opcional para encerramento automático em segundos."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/call/reject/{instanceName}": {
      "post": {
        "tags": [
          "Calls"
        ],
        "summary": "Reject",
        "operationId": "post_call_reject_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/call.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/call.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/call/videoMediaTicket/{instanceName}": {
      "post": {
        "tags": [
          "Calls"
        ],
        "summary": "Emitir ticket descartável para mídia de vídeo",
        "operationId": "post_call_videomediaticket_instancename",
        "description": "Exige autenticação e acesso à instância, chamada isVideo existente e não terminada. Ticket vinculado à instância, chamada e runtime, válido por 30s e consumido uma única vez. Conecte a /video/media e envie {ticket} no primeiro frame JSON; depois, aguarde ready e use o protocolo binário CV. Não transmite vídeo por webhook.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "201": {
            "description": "Ticket criado; Cache-Control: no-store.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoMediaTicket"
                }
              }
            }
          },
          "400": {
            "description": "Vídeo indisponível, limite de tickets ou entrada inválida."
          },
          "404": {
            "description": "Instância ou chamada de vídeo ativa não encontrada."
          }
        },
        "x-source-file": "src/api/routes/call.router.ts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "callId"
                ],
                "properties": {
                  "callId": {
                    "type": "string",
                    "minLength": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/chat/archiveChat/{instanceName}": {
      "post": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Archive Chat",
        "operationId": "post_chat_archivechat_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/chat/deleteMessageForEveryone/{instanceName}": {
      "delete": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Delete Message For Everyone",
        "operationId": "delete_chat_deletemessageforeveryone_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/chat/fetchBusinessProfile/{instanceName}": {
      "post": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Fetch Business Profile",
        "operationId": "post_chat_fetchbusinessprofile_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/chat/fetchPrivacySettings/{instanceName}": {
      "get": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Fetch Privacy Settings",
        "operationId": "get_chat_fetchprivacysettings_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts"
      }
    },
    "/chat/fetchProfile/{instanceName}": {
      "post": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Fetch Profile",
        "operationId": "post_chat_fetchprofile_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/chat/fetchProfilePictureUrl/{instanceName}": {
      "post": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Fetch Profile Picture Url",
        "operationId": "post_chat_fetchprofilepictureurl_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/chat/findChatByRemoteJid/{instanceName}": {
      "get": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Find Chat By Remote Jid",
        "operationId": "get_chat_findchatbyremotejid_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts"
      }
    },
    "/chat/findChats/{instanceName}": {
      "post": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Find Chats",
        "operationId": "post_chat_findchats_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/chat/findContacts/{instanceName}": {
      "post": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Find Contacts",
        "operationId": "post_chat_findcontacts_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/chat/findMessages/{instanceName}": {
      "post": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Find Messages",
        "operationId": "post_chat_findmessages_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/chat/findStatusMessage/{instanceName}": {
      "post": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Find Status Message",
        "operationId": "post_chat_findstatusmessage_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/chat/getBase64FromMediaMessage/{instanceName}": {
      "post": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Get Base64 From Media Message",
        "operationId": "post_chat_getbase64frommediamessage_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/chat/markChatUnread/{instanceName}": {
      "post": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Mark Chat Unread",
        "operationId": "post_chat_markchatunread_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/chat/markMessageAsRead/{instanceName}": {
      "post": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Marcar mensagem como lida",
        "operationId": "post_chat_markmessageasread_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageKeyRequest"
              }
            }
          }
        }
      }
    },
    "/chat/removeProfilePicture/{instanceName}": {
      "delete": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Remove Profile Picture",
        "operationId": "delete_chat_removeprofilepicture_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/chat/sendPresence/{instanceName}": {
      "post": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Send Presence",
        "operationId": "post_chat_sendpresence_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/chat/updateBlockStatus/{instanceName}": {
      "post": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Update Block Status",
        "operationId": "post_chat_updateblockstatus_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/chat/updateMessage/{instanceName}": {
      "post": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Update Message",
        "operationId": "post_chat_updatemessage_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/chat/updatePrivacySettings/{instanceName}": {
      "post": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Update Privacy Settings",
        "operationId": "post_chat_updateprivacysettings_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/chat/updateProfileName/{instanceName}": {
      "post": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Update Profile Name",
        "operationId": "post_chat_updateprofilename_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/chat/updateProfilePicture/{instanceName}": {
      "post": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Update Profile Picture",
        "operationId": "post_chat_updateprofilepicture_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/chat/updateProfileStatus/{instanceName}": {
      "post": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Update Profile Status",
        "operationId": "post_chat_updateprofilestatus_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/chat/whatsappNumbers/{instanceName}": {
      "post": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Whatsapp Numbers",
        "operationId": "post_chat_whatsappnumbers_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/chatwoot/find/{instanceName}": {
      "get": {
        "tags": [
          "Chatbots"
        ],
        "summary": "Find",
        "operationId": "get_chatwoot_find_instancename",
        "description": "Endpoint descoberto do código em `src/api/integrations/chatbot/chatwoot/routes/chatwoot.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/integrations/chatbot/chatwoot/routes/chatwoot.router.ts"
      }
    },
    "/chatwoot/set/{instanceName}": {
      "post": {
        "tags": [
          "Chatbots"
        ],
        "summary": "Set",
        "operationId": "post_chatwoot_set_instancename",
        "description": "Endpoint descoberto do código em `src/api/integrations/chatbot/chatwoot/routes/chatwoot.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/integrations/chatbot/chatwoot/routes/chatwoot.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/chatwoot/webhook/{instanceName}": {
      "post": {
        "tags": [
          "Chatbots"
        ],
        "summary": "Webhook",
        "operationId": "post_chatwoot_webhook_instancename",
        "description": "Endpoint descoberto do código em `src/api/integrations/chatbot/chatwoot/routes/chatwoot.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/integrations/chatbot/chatwoot/routes/chatwoot.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/compat/meta/{instanceName}": {
      "get": {
        "tags": [
          "Meta Compatible Admin"
        ],
        "summary": "Consultar Meta Compatible",
        "operationId": "get_compat_meta_instancename",
        "description": "Retorna a identidade Graph derivada da instância e a configuração opcional do webhook Meta Compatible.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Identidade Meta Compatible da instância.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetaCompatibilityConfig"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/compat/meta-cloud/meta-cloud.router.ts"
      },
      "put": {
        "tags": [
          "Meta Compatible Admin"
        ],
        "summary": "Configurar Meta Compatible",
        "operationId": "put_compat_meta_instancename",
        "description": "Endpoint descoberto do código em `src/api/compat/meta-cloud/meta-cloud.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Configuração Meta Compatible atualizada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetaCompatibilityConfig"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
[...]
