{
  "openapi": "3.1.0",
  "info": {
    "title": "Connect|API — REST API",
    "version": "1.0.16",
    "summary": "Referência interativa da API nativa do Connect|API.",
    "description": "![Connect|API REST](/openapi/branding/docs/connect-api-rest-light.png)\n\nAPI nativa do Connect|API. Pode coexistir com a fachada Meta Compatible `/graph`.\n\n### Autenticação\nA API nativa usa o header `apikey`. Instâncias podem utilizar a chave global configurada ou o token próprio, conforme os guards da aplicação.\n\n### Providers\n- `WHATSAPP-BUSINESS`\n- `WHATSAPP-BAILEYS`\n- `CONNECT`\n\n### Atualização automática\nEste documento é materializado por `docs/scripts/generate-openapi.mjs`. Alterações de rotas fazem o `Docs Integrity` falhar até o contrato ser regenerado e versionado."
  },
  "servers": [
    {
      "url": "https://d.api.connect.argws.com.br",
      "description": "Develop / homologação"
    },
    {
      "url": "http://localhost:38080",
      "description": "Docker local"
    }
  ],
  "tags": [
    {
      "name": "Core",
      "description": "Healthcheck, descoberta e utilidades globais."
    },
    {
      "name": "Instances",
      "description": "Criação, conexão, estado, logout, restart e exclusão."
    },
    {
      "name": "Messages",
      "description": "Texto, mídia, áudio, PTV, sticker, localização, contatos, reações, enquetes, listas e botões."
    },
    {
      "name": "Chats & Contacts",
      "description": "Chats, contatos, mensagens persistidas, perfil, presença e privacidade."
    },
    {
      "name": "Groups",
      "description": "Criação e administração de grupos."
    },
    {
      "name": "Business",
      "description": "Recursos business suportados pelo provider."
    },
    {
      "name": "Calls",
      "description": "Recursos de chamadas."
    },
    {
      "name": "Templates",
      "description": "Templates oficiais quando suportados."
    },
    {
      "name": "Settings",
      "description": "Configurações por instância."
    },
    {
      "name": "Proxy",
      "description": "Proxy por instância."
    },
    {
      "name": "Labels",
      "description": "Labels e associações."
    },
    {
      "name": "Webhooks",
      "description": "Configuração e recebimento de webhooks."
    },
    {
      "name": "WebSocket",
      "description": "Eventos via WebSocket."
    },
    {
      "name": "RabbitMQ",
      "description": "Eventos via RabbitMQ."
    },
    {
      "name": "NATS",
      "description": "NATS opcional."
    },
    {
      "name": "Pusher",
      "description": "Pusher opcional."
    },
    {
      "name": "SQS",
      "description": "AWS SQS opcional."
    },
    {
      "name": "Kafka",
      "description": "Kafka opcional."
    },
    {
      "name": "Storage",
      "description": "Mídia e armazenamento S3/MinIO."
    },
    {
      "name": "Chatbots",
      "description": "Integrações de chatbot/automação."
    },
    {
      "name": "Channels",
      "description": "Rotas específicas de canais/providers."
    },
    {
      "name": "Meta Compatible Admin",
      "description": "Identidade e configuração opcional de webhook da fachada Meta Compatible."
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "Core"
        ],
        "summary": "Informações da API",
        "operationId": "get",
        "description": "Endpoint descoberto do código em `src/api/routes/index.router.ts`.",
        "security": [],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/index.router.ts"
      }
    },
    "/baileys/assertSessions/{instanceName}": {
      "post": {
        "tags": [
          "Channels"
        ],
        "summary": "Assert Sessions",
        "operationId": "post_baileys_assertsessions_instancename",
        "description": "Endpoint descoberto do código em `src/api/integrations/channel/whatsapp/baileys.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/integrations/channel/whatsapp/baileys.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/baileys/createParticipantNodes/{instanceName}": {
      "post": {
        "tags": [
          "Channels"
        ],
        "summary": "Create Participant Nodes",
        "operationId": "post_baileys_createparticipantnodes_instancename",
        "description": "Endpoint descoberto do código em `src/api/integrations/channel/whatsapp/baileys.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/integrations/channel/whatsapp/baileys.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/baileys/generateMessageTag/{instanceName}": {
      "post": {
        "tags": [
          "Channels"
        ],
        "summary": "Generate Message Tag",
        "operationId": "post_baileys_generatemessagetag_instancename",
        "description": "Endpoint descoberto do código em `src/api/integrations/channel/whatsapp/baileys.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/integrations/channel/whatsapp/baileys.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/baileys/getAuthState/{instanceName}": {
      "post": {
        "tags": [
          "Channels"
        ],
        "summary": "Get Auth State",
        "operationId": "post_baileys_getauthstate_instancename",
        "description": "Endpoint descoberto do código em `src/api/integrations/channel/whatsapp/baileys.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/integrations/channel/whatsapp/baileys.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/baileys/getUSyncDevices/{instanceName}": {
      "post": {
        "tags": [
          "Channels"
        ],
        "summary": "Get USync Devices",
        "operationId": "post_baileys_getusyncdevices_instancename",
        "description": "Endpoint descoberto do código em `src/api/integrations/channel/whatsapp/baileys.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/integrations/channel/whatsapp/baileys.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/baileys/onWhatsapp/{instanceName}": {
      "post": {
        "tags": [
          "Channels"
        ],
        "summary": "On Whatsapp",
        "operationId": "post_baileys_onwhatsapp_instancename",
        "description": "Endpoint descoberto do código em `src/api/integrations/channel/whatsapp/baileys.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/integrations/channel/whatsapp/baileys.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/baileys/profilePictureUrl/{instanceName}": {
      "post": {
        "tags": [
          "Channels"
        ],
        "summary": "Profile Picture Url",
        "operationId": "post_baileys_profilepictureurl_instancename",
        "description": "Endpoint descoberto do código em `src/api/integrations/channel/whatsapp/baileys.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/integrations/channel/whatsapp/baileys.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/baileys/sendNode/{instanceName}": {
      "post": {
        "tags": [
          "Channels"
        ],
        "summary": "Send Node",
        "operationId": "post_baileys_sendnode_instancename",
        "description": "Endpoint descoberto do código em `src/api/integrations/channel/whatsapp/baileys.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/integrations/channel/whatsapp/baileys.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/baileys/signalRepositoryDecryptMessage/{instanceName}": {
      "post": {
        "tags": [
          "Channels"
        ],
        "summary": "Signal Repository Decrypt Message",
        "operationId": "post_baileys_signalrepositorydecryptmessage_instancename",
        "description": "Endpoint descoberto do código em `src/api/integrations/channel/whatsapp/baileys.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/integrations/channel/whatsapp/baileys.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/business/getCatalog/{instanceName}": {
      "post": {
        "tags": [
          "Business"
        ],
        "summary": "Get Catalog",
        "operationId": "post_business_getcatalog_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/business.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/business.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/business/getCollections/{instanceName}": {
      "post": {
        "tags": [
          "Business"
        ],
        "summary": "Get Collections",
        "operationId": "post_business_getcollections_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/business.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/business.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/call/offer/{instanceName}": {
      "post": {
        "tags": [
          "Calls"
        ],
        "summary": "Offer",
        "operationId": "post_call_offer_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/call.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/call.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/chat/archiveChat/{instanceName}": {
      "post": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Archive Chat",
        "operationId": "post_chat_archivechat_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/chat/deleteMessageForEveryone/{instanceName}": {
      "delete": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Delete Message For Everyone",
        "operationId": "delete_chat_deletemessageforeveryone_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/chat/fetchBusinessProfile/{instanceName}": {
      "post": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Fetch Business Profile",
        "operationId": "post_chat_fetchbusinessprofile_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/chat/fetchPrivacySettings/{instanceName}": {
      "get": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Fetch Privacy Settings",
        "operationId": "get_chat_fetchprivacysettings_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts"
      }
    },
    "/chat/fetchProfile/{instanceName}": {
      "post": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Fetch Profile",
        "operationId": "post_chat_fetchprofile_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/chat/fetchProfilePictureUrl/{instanceName}": {
      "post": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Fetch Profile Picture Url",
        "operationId": "post_chat_fetchprofilepictureurl_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/chat/findChatByRemoteJid/{instanceName}": {
      "get": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Find Chat By Remote Jid",
        "operationId": "get_chat_findchatbyremotejid_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts"
      }
    },
    "/chat/findChats/{instanceName}": {
      "post": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Find Chats",
        "operationId": "post_chat_findchats_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/chat/findContacts/{instanceName}": {
      "post": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Find Contacts",
        "operationId": "post_chat_findcontacts_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/chat/findMessages/{instanceName}": {
      "post": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Find Messages",
        "operationId": "post_chat_findmessages_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/chat/findStatusMessage/{instanceName}": {
      "post": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Find Status Message",
        "operationId": "post_chat_findstatusmessage_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/chat/getBase64FromMediaMessage/{instanceName}": {
      "post": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Get Base64 From Media Message",
        "operationId": "post_chat_getbase64frommediamessage_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/chat/markChatUnread/{instanceName}": {
      "post": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Mark Chat Unread",
        "operationId": "post_chat_markchatunread_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/chat/markMessageAsRead/{instanceName}": {
      "post": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Marcar mensagem como lida",
        "operationId": "post_chat_markmessageasread_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageKeyRequest"
              }
            }
          }
        }
      }
    },
    "/chat/removeProfilePicture/{instanceName}": {
      "delete": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Remove Profile Picture",
        "operationId": "delete_chat_removeprofilepicture_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/chat/sendPresence/{instanceName}": {
      "post": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Send Presence",
        "operationId": "post_chat_sendpresence_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/chat/updateBlockStatus/{instanceName}": {
      "post": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Update Block Status",
        "operationId": "post_chat_updateblockstatus_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/chat/updateMessage/{instanceName}": {
      "post": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Update Message",
        "operationId": "post_chat_updatemessage_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/chat/updatePrivacySettings/{instanceName}": {
      "post": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Update Privacy Settings",
        "operationId": "post_chat_updateprivacysettings_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/chat/updateProfileName/{instanceName}": {
      "post": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Update Profile Name",
        "operationId": "post_chat_updateprofilename_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/chat/updateProfilePicture/{instanceName}": {
      "post": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Update Profile Picture",
        "operationId": "post_chat_updateprofilepicture_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/chat/updateProfileStatus/{instanceName}": {
      "post": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Update Profile Status",
        "operationId": "post_chat_updateprofilestatus_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/chat/whatsappNumbers/{instanceName}": {
      "post": {
        "tags": [
          "Chats & Contacts"
        ],
        "summary": "Whatsapp Numbers",
        "operationId": "post_chat_whatsappnumbers_instancename",
        "description": "Endpoint descoberto do código em `src/api/routes/chat.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/routes/chat.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/chatwoot/find/{instanceName}": {
      "get": {
        "tags": [
          "Chatbots"
        ],
        "summary": "Find",
        "operationId": "get_chatwoot_find_instancename",
        "description": "Endpoint descoberto do código em `src/api/integrations/chatbot/chatwoot/routes/chatwoot.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/integrations/chatbot/chatwoot/routes/chatwoot.router.ts"
      }
    },
    "/chatwoot/set/{instanceName}": {
      "post": {
        "tags": [
          "Chatbots"
        ],
        "summary": "Set",
        "operationId": "post_chatwoot_set_instancename",
        "description": "Endpoint descoberto do código em `src/api/integrations/chatbot/chatwoot/routes/chatwoot.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/integrations/chatbot/chatwoot/routes/chatwoot.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/chatwoot/webhook/{instanceName}": {
      "post": {
        "tags": [
          "Chatbots"
        ],
        "summary": "Webhook",
        "operationId": "post_chatwoot_webhook_instancename",
        "description": "Endpoint descoberto do código em `src/api/integrations/chatbot/chatwoot/routes/chatwoot.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/integrations/chatbot/chatwoot/routes/chatwoot.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/compat/meta/{instanceName}": {
      "get": {
        "tags": [
          "Meta Compatible Admin"
        ],
        "summary": "Consultar Meta Compatible",
        "operationId": "get_compat_meta_instancename",
        "description": "Retorna a identidade Graph derivada da instância e a configuração opcional do webhook Meta Compatible.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Identidade Meta Compatible da instância.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetaCompatibilityConfig"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/compat/meta-cloud/meta-cloud.router.ts"
      },
      "put": {
        "tags": [
          "Meta Compatible Admin"
        ],
        "summary": "Configurar Meta Compatible",
        "operationId": "put_compat_meta_instancename",
        "description": "Endpoint descoberto do código em `src/api/compat/meta-cloud/meta-cloud.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Configuração Meta Compatible atualizada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetaCompatibilityConfig"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/compat/meta-cloud/meta-cloud.router.ts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetaCompatibilityUpdateRequest"
              },
              "example": {
                "webhookUrl": "https://example.com/webhooks/meta"
              }
            }
          }
        }
      }
    },
    "/connectAI/changeStatus/{instanceName}": {
      "post": {
        "tags": [
          "Chatbots"
        ],
        "summary": "Change Status",
        "operationId": "post_connectai_changestatus_instancename",
        "description": "Endpoint descoberto do código em `src/api/integrations/chatbot/connectAI/routes/connectAI.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/integrations/chatbot/connectAI/routes/connectAI.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/connectAI/create/{instanceName}": {
      "post": {
        "tags": [
          "Chatbots"
        ],
        "summary": "Create",
        "operationId": "post_connectai_create_instancename",
        "description": "Endpoint descoberto do código em `src/api/integrations/chatbot/connectAI/routes/connectAI.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/integrations/chatbot/connectAI/routes/connectAI.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/connectAI/delete/{connectAIId}/{instanceName}": {
      "delete": {
        "tags": [
          "Chatbots"
        ],
        "summary": "Delete/:Connect AIId",
        "operationId": "delete_connectai_delete_connectaiid_instancename",
        "description": "Endpoint descoberto do código em `src/api/integrations/chatbot/connectAI/routes/connectAI.router.ts`.",
        "parameters": [
          {
            "name": "connectAIId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Parâmetro de rota connectAIId."
          },
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/integrations/chatbot/connectAI/routes/connectAI.router.ts",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/connectAI/fetch/{connectAIId}/{instanceName}": {
      "get": {
        "tags": [
          "Chatbots"
        ],
        "summary": "Fetch/:Connect AIId",
        "operationId": "get_connectai_fetch_connectaiid_instancename",
        "description": "Endpoint descoberto do código em `src/api/integrations/chatbot/connectAI/routes/connectAI.router.ts`.",
        "parameters": [
          {
            "name": "connectAIId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Parâmetro de rota connectAIId."
          },
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/integrations/chatbot/connectAI/routes/connectAI.router.ts"
      }
    },
    "/connectAI/fetchSessions/{connectAIId}/{instanceName}": {
      "get": {
        "tags": [
          "Chatbots"
        ],
        "summary": "Fetch Sessions/:Connect AIId",
        "operationId": "get_connectai_fetchsessions_connectaiid_instancename",
        "description": "Endpoint descoberto do código em `src/api/integrations/chatbot/connectAI/routes/connectAI.router.ts`.",
        "parameters": [
          {
            "name": "connectAIId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Parâmetro de rota connectAIId."
          },
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/integrations/chatbot/connectAI/routes/connectAI.router.ts"
      }
    },
    "/connectAI/fetchSettings/{instanceName}": {
      "get": {
        "tags": [
          "Chatbots"
        ],
        "summary": "Fetch Settings",
        "operationId": "get_connectai_fetchsettings_instancename",
        "description": "Endpoint descoberto do código em `src/api/integrations/chatbot/connectAI/routes/connectAI.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/integrations/chatbot/connectAI/routes/connectAI.router.ts"
      }
    },
    "/connectAI/find/{instanceName}": {
      "get": {
        "tags": [
          "Chatbots"
        ],
        "summary": "Find",
        "operationId": "get_connectai_find_instancename",
        "description": "Endpoint descoberto do código em `src/api/integrations/chatbot/connectAI/routes/connectAI.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-source-file": "src/api/integrations/chatbot/connectAI/routes/connectAI.router.ts"
      }
    },
    "/connectAI/ignoreJid/{instanceName}": {
      "post": {
        "tags": [
          "Chatbots"
        ],
        "summary": "Ignore Jid",
        "operationId": "post_connectai_ignorejid_instancename",
        "description": "Endpoint descoberto do código em `src/api/integrations/chatbot/connectAI/routes/connectAI.router.ts`.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Nome exato da instância Connect|API. Preenchimento obrigatório antes de executar a requisição."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "201": {
            "description": "Operação aceita/criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
[...]
