# Connect|API DOCs - standalone estável / always-on
COMPOSE_PROJECT_NAME=argws-connect-docs
ARGWS_CONNECT_DOCS_NETWORK_NAME=argws-connect-docs-net
ARGWS_CONNECT_BIND_ADDRESS=127.0.0.1
ARGWS_CONNECT_DOCS_HOST_PORT=38280
ARGWS_CONNECT_DOCS_PUBLIC_URL=https://docs.connect.argws.com.br
ARGWS_CONNECT_DOCS_IMAGE=ghcr.io/wkarts/argws-connect-docs:latest
DOCKER_LOG_MAX_SIZE=20m
DOCKER_LOG_MAX_FILE=5
