# Connect|API DOCs - standalone desenvolvimento / always-on
COMPOSE_PROJECT_NAME=argws-connect-docs-develop
ARGWS_CONNECT_DOCS_NETWORK_NAME=argws-connect-docs-develop-net
ARGWS_CONNECT_BIND_ADDRESS=127.0.0.1
ARGWS_CONNECT_DOCS_HOST_PORT=38282
ARGWS_CONNECT_DOCS_PUBLIC_URL=https://d.docs.connect.argws.com.br
ARGWS_CONNECT_DOCS_IMAGE=ghcr.io/wkarts/argws-connect-docs:develop
DOCKER_LOG_MAX_SIZE=20m
DOCKER_LOG_MAX_FILE=5
