PLATFORM_NAME={{PLATFORM_NAME}}
PLATFORM_SLUG={{PLATFORM_SLUG}}
PLATFORM_DOMAIN={{PLATFORM_DOMAIN}}
PLATFORM_API_IMAGE={{PLATFORM_API_IMAGE}}
PLATFORM_WEB_IMAGE={{PLATFORM_WEB_IMAGE}}
CONTROL_PLANE_HOST_PORT=39100
POSTGRES_PASSWORD=CHANGE_ME_POSTGRES_PASSWORD
RABBITMQ_PASSWORD=CHANGE_ME_RABBITMQ_PASSWORD
GRAFANA_ADMIN_PASSWORD=CHANGE_ME_GRAFANA_PASSWORD
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ZONE_ID=
